/***************************/
/* Colors */
/***************************/
$header-bg: #03A9F4;
$white-1: #FFF;
$red-1: #FF9191;

/***************************/
/* Responsive */
/***************************/
$screen-mobile-max: 600px ;
$screen-tablet-max: 1200px ;
