@import '../variables/variables';
@import '../mixin/mixin';
@import '../header/header';



body {
    font-family: 'Roboto', 'Sans Serif';
    font-size: 16px;
    padding: 0;
    margin: 0;
}

.lighting {
  border: 2px solid $red-1;
  box-shadow: 0 0 15px rgb(255, 147, 147);
  border-radius: 10px;
}
